:root {
  --background-color: #dddefd;
  --primary-color: #6c6fc6;
  --secondary-color: #b2b5fa;
  --accent-color: ##3c3f9a;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: url("./img/background3.png");
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: space-between;
  grid-template-rows: 100px 70vh 100px;
  padding: 2rem 0;
}

.image-container {
  width: 35%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0;
}

#searchBox {
  width: 15rem;
  padding: 0.6rem;
  outline: none;
  border: none;
  border-right: 0;
  border-radius: 1rem 0 0 1rem;
  color: var(--accent-color);
  background-color: var(--secondary-color);
  font-size: 1rem;
}

#btn-search {
  padding: 0 0.5rem;
  border: none;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--primary-color);
  cursor: pointer;
}

#btn-refresh {
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--primary-color);
}
